$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red: #d30102;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
// $green: #859900;
$green: #127a14;
$teal:    #20c997 !default;
$cyan:    #2aa198;

$primary: $green;

// $secondary: #fdf6e3;
 $light: #fdf6e3;
