img.mr-3 src="data:image/png;base64, #{Base64.encode64(File.open(File.join(__dir__, 'logo.png')).read)}"

h1 Grünes Brett

== yield

p == content_for :unsubscribe_url

pre --  
  Grünes Brett - Suche/Biete für alles rund um Hanf
  Landschaftspflegeverband Prignitz-Ruppiner Land e.V.
  Kirchplatz 12
  16909 Wittstock/Dosse
  https://netzwerk-hanf.de
  https://gruenesbrett.de

