h2 Anmeldung bestätigen

p Vielen Dank für dein Interesse an unserer kleinen Platform. Wir hoffen, dass sich für Dich daraus etwas hilfreiches ergibt :)

p Um automatisch benachrichtigt zu werden, falls ein neuer Eintrag eingestellt wird, bestätige dein Abonnement unter

a href=subscriber.confirmation_url = subscriber.confirmation_url

= content_for(:unsubscribe_url) do
  | Benachrichtungen abbestellen
  br
  a href=subscriber.unsubscribe_url = subscriber.unsubscribe_url
