$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import "custom.scss";
@import "~bootstrap/scss/bootstrap";
@import "photoswipe/dist/photoswipe";
@import "photoswipe/dist/default-skin/default-skin";

// header

.navbar-light .navbar-brand {
  font-family: 'Londrina Solid';

  h1, div {
    line-height: 1;
  }

  color: $primary;

  &:hover {
    color: $primary;
  }
}

.londrina {
  font-family: 'Londrina Solid';
  color: $primary;
}

// card

.badge-type {
  font-size: 1.0em;
}

.dropzone {
  min-height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;

  .dz-message {
    margin: 0;
  }

  .dz-preview {
    margin: 0;
  }
}

.vue-dropzone > .dz-preview .dz-image img:not([src]) {
  height: 50px;
}

.image-list {
  // margin: 0.5rem;
  position: relative;
}

a.btn-remove-image {
  position: absolute;
  transform: translate(50%, -50%); 
  right: 0;
  top: 0;
  color: $red;
  font-size: 2rem;

  i {
    background-color: $white
  }
}

form.form-loading {
  opacity: 0.3;
}

.spinner-wrapper {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.pswipe-gallery img {
  max-width: 100%;
}

// rest

#footer .btn-outline-secondary {
  background-color: $white;

  &:hover {
    background-color: $dark;
  }
}

